
<div class="about_container">
  <div class="container">
    <div class="card-product">
      <img class="profil-img avatar" src="https://res.cloudinary.com/dt4lcygop/image/upload/v1558300327/profil_Seb_ucxgst.jpg">
      <div class="card-product-infos">
        <h2 class="text">About me...</h2>
        <p class="text">I'm Sébastian, a <strong>Junior Web Developer</strong> graduate in 2019 of Le Wagon, a 9 weeks Intensive coding bootcamp in Montreal.
        I'm a very big fan of all technologies since my youngest age.</p>
        <p class="text">My skills :</p>
        <br>
        <div>
        <i class="devicon-ruby-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-github-plain-wordmark colored"></i>
        <i class="devicon-heroku-original-wordmark colored"></i>
        <i class="devicon-rails-plain-wordmark colored"></i>
        </div>


        <p class="text">Follow me at:</p><a class="about" href="https://github.com/CzechSebastian" target="_blank"><i class="fab fa-github"></a></i><a class="about" href="https://www.linkedin.com/in/sebastianczech/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
