/*
 *= require_self
 *= require sweetalert
 */
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "cocktails";
@import "components/index";
@import "components/about";
;@import "components/avatar";;
@import "pages/index";



.card {
  background-image: url('https://res.cloudinary.com/dt4lcygop/image/upload/v1558301049/vodka-martini-recipe-760983-Hero-5bd771cd4cedfd0026121758_y9zuvt.jpg');
  height: 300px;
  border-radius: 6px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: #3E3F43;
  background-color: #575757;
  position: relative;
  transition: 0.2s;
  &:hover {
    transform: scale(0.98);
    box-shadow: 0 0 25px #1B64AA;
  }
}

.add-btn {
  margin-top: 16px;
}

.see-details {
  margin-left: 8px;
}
.cocktail {
  margin-left: 8px;
}

label {
  color: white;
  font-family: helvetica;
  font-size: 1.5em;
}

